@font-face {
  font-family: fifteen;
  src: url("Fifteen-Regular.ttf");
}

*:not(text) {
  font-family: fifteen;
  color: hsl(0 0% 20%);
}

:root {
  --light: 45%;
  --sat: 80%;
  --rainbow: linear-gradient(
    -45deg,
    hsl(0, var(--sat), var(--light)),
    hsl(50, var(--sat), var(--light)),
    hsl(80, var(--sat), var(--light)),
    hsl(150, var(--sat), var(--light)),
    hsl(200, var(--sat), var(--light)),
    hsl(260, var(--sat), var(--light)),
    hsl(300, var(--sat), var(--light))
  );
}

html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  font-family: fifteen;
}

.copy {
  fill: none;
  font: bold 30px sans-serif;
  stroke: black;
  stroke-width: 1.5px;
  stroke-dasharray: 0% calc(7% * 5);
  stroke-dashoffset: 0;
}

.box {
  grid-area: 1 / 1 / 1 / 1;
  background: none;
  width: 100%;
  height: 100%;
  align-items: start;
  z-index: -1;
  justify-content: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
}

.contentBox {
  grid-area: 1 / 1 / 1 / 1;
}
#wave {
  transform: translateX(0px);
  animation: waves 3s infinite linear;
}
.fstWave {
  grid-area: 1 / 1 / 1 / 1;
  border: 1px solid black;
  background-image: var(--rainbow);
  clip-path: url(#wave);
  transform: rotateX(180deg) rotateZ(48deg) scale(0.9) translateY(-400px);
  width: 2800px;
  height: 400px;
  z-index: -1;
  transform-origin: top right;
  transition: right 1s, transform 1s;
  position: fixed;
  right: -1500px;
  bottom: 1170px;
  animation: bg 10s infinite alternate ease;
}
.sndWave {
  grid-area: 2 / 1 / 2 / 1;
  position: initial;
  transform-origin: bottom left;
  transform: rotate(286deg) scale(0.9) translateY(-1000px);
}
@keyframes waves {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-800px);
  }
}

@keyframes bg {
  0% {
    background-position: 40vw;
  }
  50% {
    background-position: -90vw;
  }
  100% {
    background-position: 40vw;
  }
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
p {
  width: 80%;
  font-size: 25px;
}
.button {
  margin-top: 50px;
  font-size: 20px;
  border-radius: 15px;
  background: hsl(0 0% 90%);
  box-shadow: none;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.secButton {
  font-size: 0px;
  flex-shrink: 0;
  border-radius: 15px;
  background: hsl(0 0% 85%);
  color: hsl(0 0% 100%);
  padding: 0px;
  border: none;
  outline: none;
  visibility: hidden;
  transition: padding 0.3s;
}

.scrollBox {
  overflow: scroll;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.scrollBox::-webkit-scrollbar {
  display: none;
}

.scrollableChildren {
  margin: 0px 25px;
  flex-direction: row;
  overflow: visible;
  width: 100%;
  transition: margin 1s;
  gap: 20px;
}

.container {
  position: relative;
  background: hsl(0 0% 90%);
  border-radius: 30px;
  overflow: hidden;
  width: 80%;
  display: flex;
  padding: 20px 0px;
  font-size: 30px;
  justify-content: start;
  transition: top 1s;
  top: -100vh;
}

.open {
  font-size: 20px;
  padding: 5px 10px;
}

:root {
  --initial-font-size: 0px;
  --initial-padding-h: 0px;
  --initial-padding-v: 0px;
  --font-size: 20px;
  --padding-h: 10px;
  --padding-v: 5px;
}

@keyframes bubble {
  0% {
    font-size: var(--initial-font-size);
    padding: var(--initial-padding-v) var(--initial-padding-h);
  }
  30% {
    font-size: calc(var(--font-size) * 1.2);
    padding: calc(var(--padding-v) * 1.2) calc(var(--padding-h) * 1.2);
  }
  50% {
    font-size: calc(var(--font-size) * 0.9);
    padding: calc(var(--padding-v) * 0.9) calc(var(--padding-v) * 0.9);
  }
  75% {
    font-size: calc(var(--font-size) * 1.1);
    padding: calc(var(--padding-v) * 1.1) calc(var(--padding-h) * 1.1);
  }
  100% {
    font-size: var(--font-size);
    padding: var(--padding-v) var(--padding-h);
  }
}
